@media (max-width: 1080px) {
  ul { margin-left: 0; padding: 5px; }
  .button {margin:auto; padding: 0; }
  nav ul li a {padding: 7px; font-size: 50px; background-color: unset; color: black;}
  nav ul li a:active {color: #f0ba1c }

  main {
  margin-right: 0;
  margin-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px auto 1fr auto 100px;
    grid-template-areas:
    "header header header "
    ". . ."
    ". main .  "
    ". . . "
    "footer footer footer ";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    padding-bottom: 100px; /*same as footer height*/
  }

  p {
    font-size: 1.2em;
  }

  h2 {
    font-size: 2.3em;
  }

/* menu btn */
/* .button {
  padding: 20px;
  cursor: pointer;
  grid-row: 1;
  position: absolute;
  width: 90%;
  display: unset;


}

.button img {
  width: 150px;
margin-right: -55px;

    float: right;
} */

/* up btn */
.up {
  right: 60px;
  bottom: 70px;
  font-size: 2em;
  padding: 25px;
}

.upShow {
  display: none;
}



header {
  margin-top: -15px;
  margin-left: 15px;
  color: black;
  font-size: 3em;
  justify-content: space-between;
  grid-row: 1;
}

header a {
  pointer-events: none;
  display: block;
}

ul {
  color: white;
  padding: 10px 30px 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: scale(1);
}

ul li {
  background: rgba(165,165,165,1);
  margin-bottom: 20px;
  background: white;
  display: block;
  padding: 40px;
  font-size: 1.5em
}


/* Nav menu */
nav{
  grid-row: 1 ;
  position: absolute;
  top: 55px;
  background-color: white;
    width: 100%;



    overflow: hidden;

}

#pv nav {
    background-color: #e0e0e0 ;
}

#pv ul li {
  background: rgba(165,165,165,1);
  margin-bottom: 20px;
  background: #e0e0e0;
  display: block;
  padding: 40px;
  font-size: 1.5em
}

.ul a{
    display: block;
    padding: 30px;
    color: black;
}
.ul a:hover{
    background-color: black;
}

nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    /* padding: 40px 20px; */
    grid-row: 1;

    grid-column: 2;
    margin-right: 10px;
    justify-content: flex-end;

}/* Style label tag */

.hamb-line {
    background: black;
    display: block;
    height: 3px;
    position: relative;
    width: 70px;
    float: right;
    margin-top: 85px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 15px;
}
.hamb-line::after{
    top: -15px;
}

.side-menu {
    display: none;

} /* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* kontakt */
input {
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

.kontakt p {
  max-width: 1040px;
}

.kontakt {
  font-size: 1.5em;
  width: 100%;
  grid-column: 1;
}



#wrapper-kontakt {
  grid-area: main;
  display: block;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

textarea {
  height: 300px;
}

#socmed {
  grid-column: 1;
  grid-row: 2;
  flex-direction: row;
  justify-content: center;
}

#socmed img {
  width: 100px;
  padding: 20px;
}

.kontakt button {
  width: 130px;
}

.kontakt button:active {
  background-color: #B58A8D;
}

button:hover, button:active {
  background-image: linear-gradient(to right bottom, #e9b0b5, #dca6ab, #cf9da1, #c29397, #b58a8d);
}

/* projects */
#web-text {
  grid-row: 2;
  grid-column: 2;
}

.projects {
  grid-area: main;
  justify-self: flex-start;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.projects .object:nth-child(n){
  grid-column: span 6;
}

.projects .object:nth-child(1){
  grid-column: span 6;
  display:none;
}

.projects .object:nth-child(2){
  grid-column: span 6;
  display:unset;
}

.text {
  font-size: 4em;
  color: #f0ba1c;


}

.projects img {
  max-width: 100%;
  filter:blur(3px) brightness(0.5) grayscale(1);
  display: block;
}

.text {
  opacity: 1;
}

figcaption {
  font-size:  1.2em;
  display: block;
  margin-bottom: 20px;
}

iframe {
  display: none;
}




figure {
  margin-bottom: 100px;
}

figure img {
  margin-bottom: 0;
}

.es .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.thesis .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}



.pv .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}


.bmth .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.glaspole .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.posters .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}



.praktik .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.proguitar .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.branding .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.proguitar .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}




.gb .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.grap .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
}

.grap .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

.comm2220 .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}

#rationale-mobile-sot {
display: block;
}

#rationale-desktop {
display: none;
}


.grap-2 .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
  margin-top: 0;
}




.start .tile:nth-child(n){
  grid-column: span 6;
  grid-row: span 1;
}

.tile h2 {
  /* text-transform: uppercase; */
  font-size: 2em;
  margin-bottom: -20px;
}

.tile p {
  /* text-transform: uppercase; */
  font-size: 1em;
  margin-top:2rem;
  margin-bottom: 20px;
}






.about .tile:nth-child(1){
  grid-column:  span 6;
  grid-row: 1;
  /* margin-top: 20px;
  margin-bottom: 30px; */
}


.about .tile:nth-child(n+2){
  grid-column: span 6;
  grid-row: span 1;
  margin-bottom: 150px;
}

} /*end 1080px*/

@media (max-width: 890px) {

header {
  font-size: 30px;
  margin-top: 0;
  margin-right: 0;
}

} /*end 890px */


@media (max-width: 700px) {

header {font-size: 20px;}

main {
  margin-right: 0;
  margin-left: 0;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 170px auto 1fr auto 80px;
  grid-template-areas:
  "header header header "
  ". . ."
  ". main .  "
  ". . . "
  "footer footer footer ";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding-bottom: 100px; /*same as footer height*/
}

.text {
  font-size: 3em;
  color: #f0ba1c;


}

} /* end 700px */
