@media (max-width: 1080px) {
  ul { margin-left: 0; padding: 5px; }
  .button {margin:auto; padding: 0; }
  nav ul li a {padding: 7px; font-size: 50px; background-color: unset; color: black;}
  nav ul li a:active {color: #B58A8D }

  main {
  margin-right: 0;
  margin-left: 0;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 170px auto 1fr auto auto;
    grid-template-areas:
    "header header header "
    ". . ."
    ". main .  "
    ". . . "
    "footer footer footer ";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    padding-bottom: 80px; /*same as footer height*/
  }

/* menu btn */
.button {
  padding: 20px;
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
  position: absolute;
  width: 100%;
  display: unset;
}

.button img {
  width: 150px;
}

/* up btn */
.up {
  right: 60px;
  bottom: 70px;
  font-size: 2em;
  padding: 25px;
}

.upShow {
  display: none;
}

nav {
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  top: 55px;
}

.menuShow {
  transform: scale(1);
}

header {
  margin-top: -15px;
  color: black;
  font-size: 3em;
}

header a {
  pointer-events: none;
  display: block;
}

ul {
  color: white;
  padding: 10px 30px 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: scale(1);
}

ul li {
  background: rgba(165,165,165,1);
  margin-bottom: 20px;
  background: white;
  display: block;
  padding: 40px;
  font-size: 1.5em
}


/* kontakt */
input {
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

.kontakt p {
  max-width: 1040px;
}

.kontakt {
  font-size: 1.5em;
  width: 100%;
  grid-column: 1;
}

.kontakt button {
   display: block;
   margin: 1.5em 0;
   font-size: 1em; line-height: 2.5em;
   color: #333;
   font-weight: bold;
   height: 2.5em; width: 100%;
   background: #fdfdfd;
   background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%);
   background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
   border: 1px solid #bbb;
}

#wrapper-kontakt {
  grid-area: main;
  display: block;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

textarea {
  height: 300px;
}

#socmed {
  grid-column: 1;
  grid-row: 2;
  flex-direction: row;
  justify-content: center;
}

#socmed img {
  width: 100px;
  padding: 20px;
}

.kontakt button {
  width: 130px;
}

.kontakt button:active {
  background-color: #B58A8D;
}

button:hover, button:active {
  background-image: linear-gradient(to right bottom, #e9b0b5, #dca6ab, #cf9da1, #c29397, #b58a8d);
}

/* projects */
#web-text {
  grid-row: 2;
  grid-column: 2;
}

#websites {
  grid-area: main;
  justify-self: flex-start;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.text {
  font-size: 3em;
}

#websites img {
  max-width: 100%;
  filter:blur(3px);
  display: block;
}

.text {
  opacity: 1;
}

figcaption {
  font-size:  1.5em;
  display: block;
  margin-bottom: 20px;
}

iframe {
  display: none;
}

/* eskilstuna stadslopp */
.es .tile:nth-child(1){
  grid-column: span 6;
  grid-row: span 1;
}

.es .tile:nth-child(2){
  grid-column: span 6;
}

.es .tile:nth-child(3){
  grid-column: span 6;
}

.es .tile:nth-child(4){
  grid-column: span 6;
}

.es .tile:nth-child(5){
  grid-column: span 6;
}

.es .tile:nth-child(6){
  grid-column: span 6;
}

/* green bean */
.gb .tile:nth-child(1){
  grid-column: span 6;
  grid-row: span 1;
}

.gb .tile:nth-child(2){
  grid-column: span 6;
}

.gb .tile:nth-child(3){
  grid-column: span 6;
}

.gb .tile:nth-child(4){
  grid-column: span 6;
}

.gb .tile:nth-child(5){
  grid-column: span 6;
}

.gb .tile:nth-child(6){
  grid-column: span 6;
}

/* quarantine times */
.qt .tile:nth-child(1){
  grid-column: span 6;
}

.qt .tile:nth-child(2){
  grid-column: span 6;
}

.qt .tile:nth-child(3){
  grid-column: span 6;
}

.qt .tile:nth-child(4){
  grid-column: span 6;
}

.qt .tile:nth-child(5){
  grid-column: span 6;
}

.qt .tile:nth-child(6){
  grid-column: span 6;
}

/* bmth */
.bmth .tile:nth-child(1){
  grid-column: span 6;
}

.bmth .tile:nth-child(2){
  grid-column: span 6;
}

.bmth .tile:nth-child(3){
  grid-column: span 6;
}

.bmth .tile:nth-child(4){
  grid-column: span 6;
}

/* start */
.start .tile:nth-child(1){
  grid-column: span 6;
  grid-row: span 1;
}

.start .tile:nth-child(2){
  grid-column: span 6;
}

.start .tile:nth-child(3){
  grid-column: span 3;
}

.start .tile:nth-child(4){
  grid-column: span 3;
}

.start .tile:nth-child(5){
  grid-column: span 6;
}

.start .tile:nth-child(6){
  grid-column: span 6;
}

.start .tile:nth-child(7){
  grid-column: span 6;
}

.start .tile:nth-child(8){
  grid-column: span 6;
}

.start .tile:nth-child(9){
  grid-column: span 6;
}

.about .tile:nth-child(1){
  grid-column: span 6 ;
}

.about .tile:nth-child(2){
  grid-column: span 6;
  background-color: rgba(255, 255, 255, 1);
}

} /*end 1080px*/

@media (max-width: 890px) {

header {
  font-size: 30px;
  margin-top: 0;
  margin-right: 0;
}

} /*end 890px */


@media (max-width: 700px) {

header {font-size: 20px;}

main {
  margin-right: 0;
  margin-left: 0;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 170px auto 1fr auto auto;
  grid-template-areas:
  "header header header "
  ". . ."
  ". main .  "
  ". . . "
  "footer footer footer ";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding-bottom: 80px; /*same as footer height*/
}

} /* end 700px */
