@media (max-width: 1080px) {
  ul { margin-left: 0; padding: 5px; }
  nav {margin:0; padding: 0; }
  nav ul li a {padding: 7px; font-size: 40px; background-color: unset;}
  nav ul li a:active {color: #B58A8D }



header { margin-top: 0; margin-right: 0;}

header a { font-size: 1.2em;}

  main {
  margin-right: 1.2rem;
  margin-left: 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(400px, 1fr) auto auto;
    grid-template-areas:
    "header "

    "main  "
    ". "
    "footer  ";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;

    padding-bottom: 80px; /*same as footer height*/
  }


.content{
  grid-area: main;
  display: grid;
   grid-template-columns: 1fr 1fr;
  object-fit: cover;

  grid-gap: 1rem;

}



nav div {
  display: block;

}
ul {
  display: none;
  position: static;
  background: rgba(165,165,165,.7);
  color: white;
padding: 10px 30px 30px 0.6em;



}
ul li {
  display: block;

}

/* .kontakt {
width: 70%;
} */

/* .kontakt p {
    max-width: 750px;
} */

textarea {
  height: 200px;
}
input {

display: block;
margin: 0;
width: 100%; height: 40px;
line-height: 40px; font-size: 17px;
border: 1px solid #bbb;

}

.kontakt button {

 display: block;
 margin: 1.5em 0;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;

}

#socmed img {
  width: 30px;
  padding: 20px;
}

.kontakt button {

  width: 130px;
}

.kontakt button:active {
  background-color: #B58A8D;
}

.about {
margin: auto 10px auto 10px;
  width: 100%;

  display:block;
}

#portrait {
  margin-right: 20px;
  margin-bottom: 10px;
float:none;
width: 100%;

}

#about-text {
  padding: 10px;


}



} /*end 1080px*/

@media (max-width: 890px) {
  .content{
    grid-area: main;
    display: grid;
     grid-template-columns: 1fr;
    object-fit: cover;

    grid-gap: 1rem;

  }

header {font-size: 30px;
margin-top: 0;
margin-right: 0;
}




}


@media (max-width: 700px) {

  header {font-size: 18px;

  }


  .about {
  margin: auto 10px auto 10px;
    width: 100%;

    display:block;
  }

  #portrait {
    margin-right: 20px;
    margin-bottom: 10px;
    float: none;
    width: 100%;
  }

  #about-text {
    padding: 10px;


  }

}
