/* old pink: #e9b0b5
new pink: #B58A8D
yellow: #f0ba1c*/

body {
  width: 100%;
  max-width: 1366px;
  margin: auto;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  min-height: 100vh;
  position: relative;

}

main {
  margin-right: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px auto minmax(400px, 1fr) auto 100px;
  grid-template-areas:
  "header header header"
  ". . ."
  "main main main"
  ". . ."
  "footer footer footer";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding-bottom: 100px; /*same as footer height*/
}

.side-menu {
    display: none;

} /* Hide checkbox */

.up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  background-color: #B58A8D;
  font-family: "lato", sans-serif;
  width: auto;
  padding: 10px;
  /* height: 40px; */
  display: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 8px grey;
  text-decoration: none;
}

.up:hover, .up:focus {
  background-color: #9C7679;
}

.up:active {
  background-color: #9C7679;
  box-shadow: 2px 2px 4px grey;
}

.upShow {
  display: unset;
}

header {
  grid-area: header;
  justify-self: flex-start;
  align-self: center;
  margin-top: 48px;
  z-index: 500;
  margin-right: 20px;
  text-decoration: none;
  font-size: 40px;
  color: inherit;
  font-family: mina,serif;
  font-weight: 400;
  transition-property: color;
  transition-duration: .4s;
}

header {
  text-decoration: none;
  font-size: 40px;
  color: inherit;
  font-family: roc-grotesk, mina,serif;
  font-weight: 400;
  transition-property: color;
  transition-duration: .4s;
}



/* menu */
nav {
  grid-area: header;
  align-self: center;
  justify-self: flex-end;
  z-index: 1000;
  margin-top: 80px;

}

.button {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 0;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
    font-family: roc-grotesk;
    font-weight: 300;
    font-style: normal;
  margin:0;
  padding: 0;
}

header a {
  text-decoration: none;
  color: inherit;
}

ul li a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  font-size: .8em;
  padding-right: 20px;
  align-self: center;
  transition: color .2s;
}

ul li a:hover, ul li a:focus {
  color: #B58A8D;
  color: #f0ba1c;
}

footer {
  grid-area: footer;
  justify-self: center;
  position: absolute;
  bottom: 0;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
  width: 100%;
}

/* .background {
  background-image: url("../images/bg-paint3.png");
  background-size: cover;
  background-repeat: no-repeat;
} */



/* start */
.start .tile:nth-child(1){
  grid-column: 1/4;
  grid-row: 1;
}

.start .tile:nth-child(2){
  grid-column: span 3;
  grid-row: 2;
}

.start .tile:nth-child(3){
  grid-column: span 3;
  grid-row: 2;
}

.start .tile:nth-child(4){
  grid-column: span 3;
  grid-row: 3;
}

.start .tile:nth-child(5){
  grid-column: span 3;
  grid-row: 3;
}

.start .tile:nth-child(6){
  grid-column: span 6;
  grid-row: 4;
}

.start .tile:nth-child(7){
  grid-column: span 2;
  grid-row: 5;
}

.start .tile:nth-child(8){
  grid-column: span 2;
  grid-row: 5;
}
.start .tile:nth-child(9){
  grid-column: span 2;
  grid-row: 5;
}



.start .tile:nth-child(10){
  grid-column: span 3;
  grid-row: 6;
}

.start .tile:nth-child(11){
  grid-column: span 3;
  grid-row: 6;
}



.start .tile:nth-child(12){
  grid-column: span 2;
    grid-row: 7;
}

.start .tile:nth-child(13){
  grid-column: span 2;
    grid-row: 7;
}
.start .tile:nth-child(14){
  grid-column: span 2;
    grid-row: 7;
}

.start .tile:nth-child(15){
  grid-column: span 4;
  grid-row: 8;
}

.start .tile:nth-child(16){
  grid-column: span 2;
  grid-row: 8;
}


.start {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.start img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* about */
.about .tile:nth-child(1){
  grid-column: 1/3;
  grid-row: 1;
  margin-top: 50px;
}

.about .tile:nth-child(2){
  grid-column: 3/6  ;

    grid-row: 1;
    margin-top: 40px;
}

.about {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  align-items: center;
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* projects */
#websites {
  grid-area: main;
  justify-self: flex-start;
  margin-top: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  grid-gap: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.object {
  position: relative;
  width: 100%;
  text-align: center;
}

.text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #f0ba1c;
  padding: 8px 12px;
  /* background: white; */
  white-space: nowrap;
  font-size: 2.3em;
  font-family: roc-grotesk, "Helvetica", sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: opacity .2s;


}

.sub {
  font-size: .8em;
  display: none;
}

.projects .object:hover .text {
  opacity: 100;
}

.projects img {
  max-width: 100%;
  transition: filter .3s;
  display: block;
    /* filter:blur(3px); */
}

.projects .object:hover img, .projects .object:focus img {
  filter:unset;
  filter:blur(3px) brightness(0.5) grayscale(1);


}

.projects {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.projects .object:nth-child(1){
  grid-column: span 6;
  /* display:none; */
}

.projects .object:nth-child(2){
  grid-column: span 6;
  display:none;
}


.projects .object:nth-child(n+2){
  grid-column: span 2;
}





figcaption {
  font-family: "Lato";
  text-transform: lowercase;
  font-style: italic;
  margin-bottom: 20px;
}

figcaption a, p a {
  text-decoration: none;
  color: #f0ba1c;
  transition: color .2s;
}

.about a {
  color: #f0ba1c;
  text-decoration: none;
}

figcaption a:hover, figcaption a:focus, .about a:hover, .about a:focus {
  color: #f0ba1c;
}
/* eskilstuna stadslopp */
.es {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.emphasis {
  font-weight: bold;

}

.es img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.es .tile:nth-child(1){
  grid-column:  4/7;
  grid-row: 1;
  margin-top: 100px;
}

.es .tile:nth-child(2){
  grid-column: 1/4;
  grid-row: 1;
}

.es .tile:nth-child(3){
  grid-column: span 3;
}

.es .tile:nth-child(4){
  grid-column: span 3;
}

.es .tile:nth-child(5){
  grid-column: span 6;
}

.es .tile:nth-child(6){
  grid-column: span 3;
}

.es .tile:nth-child(7){
  grid-column: span 3;
}

.es .tile:nth-child(8){
  grid-column: span 6;

}

.es .tile:nth-child(n+9){
  grid-column: span 3;

}

.es .tile:nth-child(11){
  grid-column: span 6;

}


/* miles glaspole */
.glaspole {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}


.glaspole img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.glaspole .tile:nth-child(1){
  grid-column:  4/7;
  grid-row: 1;
  margin-top: 100px;
}

.glaspole .tile:nth-child(2){
  grid-column:  1/4;
  grid-row: 1;
  margin-top: 100px;
}

.glaspole .tile:nth-child(3){
  grid-column:  span 6;
}

.glaspole .tile:nth-child(n+4){
  grid-column:  span 3;
}

.glaspole .tile:nth-child(6){
  grid-column:  span 6;
}

.glaspole .tile:nth-child(7){
  grid-column:  span 6;
}

.glaspole .tile:nth-child(n+8){
  grid-column:  span 3;
}

.glaspole .tile:nth-child(n+12){
  grid-column:  span 6;
}

.glaspole-h2 h2 {
  margin-bottom: 1000px;
}

/* posters */
.posters {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}


.posters img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.posters .tile:nth-child(1){
  grid-column:  span 2;
  grid-row: 1;
  margin-top: 100px;
}

.posters .tile:nth-child(n+2){
  grid-column:  span 2;

}







/* thesis */
.thesis-h {
  /* text-transform: uppercase; */
  font-size: 2em;
  margin-left: 2.5rem;
  margin-top:2rem;
  margin-bottom: -20px;
}

.thesis {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}


.thesis img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thesis .tile:nth-child(1){
  grid-column:  4/7;
  grid-row: 1;
  margin-top: 100px;
}

.thesis .tile:nth-child(2){
  grid-column:  1/4;
}

.thesis .tile:nth-child(3){
  grid-column:  span 6;

}

.thesis .tile:nth-child(4){
  grid-column:  span 4;
  grid-row: span 2;
}

.thesis .tile:nth-child(n+5){
  grid-column:  span 2;

}

.thesis .tile:nth-child(7){
  grid-column:  span 6;
}

.thesis .tile:nth-child(n+8){
  grid-column:  span 2;
}

.thesis .tile:nth-child(9){
  grid-column:  span 4;
}

.thesis .tile:nth-child(10){
  grid-column:  span 6;
}

.thesis .tile:nth-child(n+11){
  grid-column:  span 2;
}

.thesis .tile:nth-child(17){
  grid-column:  span 6;
}

.thesis .tile:nth-child(18){
  grid-column:  span 6;
}




/* green bean */

.gb .tile:nth-child(1){
  grid-column:  1/3;
  grid-row: 1;
  margin-top: 150px;
}

.gb .tile:nth-child(2){
  grid-column: 3/7;
  grid-row: span 1;

}


.gb .tile:nth-child(3){
  grid-column: span 6;
}

.gb .tile:nth-child(4){
  grid-column: span 3;
}

.gb .tile:nth-child(5){
  grid-column: span 3;
}

.gb .tile:nth-child(6){
  grid-column: span 2;
}

.gb {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.gb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* quarantine times */
.qt .tile:nth-child(1){
  grid-column: span 4;
  grid-row: span 2;
}

.qt .tile:nth-child(2){
  grid-column: span 2;
}

.qt .tile:nth-child(3){
  grid-column: span 2;
}

.qt .tile:nth-child(4){
  grid-column: span 3;
}

.qt .tile:nth-child(5){
  grid-column: span 3;
}

.qt .tile:nth-child(6){
  grid-column: span 6;
}

.qt {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.qt img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* på vift */


.pv .tile:nth-child(1){
  grid-column:  1/4;
  grid-row: 1;
  margin-top: 50px;
}

 h2 {
font-family: roc-grotesk, "Helvetica", sans-serif;
font-weight: 600;
font-style: normal;
  font-size: 2em;
margin-bottom: 0px;
}


.pv .tile:nth-child(2){
  grid-column:  4/7;
}

.pv .tile:nth-child(n+3){
  grid-column: span 6;
}
/*
.pv .tile:nth-child(3){
  grid-column: span 6;
}

.pv .tile:nth-child(4){
  grid-column: span 6;
}

.pv .tile:nth-child(5){
  grid-column: span 6;
}

.pv .tile:nth-child(6){
  grid-column: span 6;
}

.pv .tile:nth-child(7){
  grid-column: span 6;
}

.pv .tile:nth-child(8){
  grid-column: span 6;
}

.pv .tile:nth-child(9){
  grid-column: span 6;
}

.pv .tile:nth-child(10){
  grid-column: span 6;
}

.pv .tile:nth-child(11){
  grid-column: span 6;
}

.pv .tile:nth-child(12){
  grid-column: span 6;
}

.pv .tile:nth-child(13){
  grid-column: span 6;
}

.pv .tile:nth-child(14){
  grid-column: span 6;
} */

.pv .tile:nth-child(16){
  grid-column: 1/4;
}



.pv {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;

}

.pv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#pv, #grap, #branding #posters {
  background-color: #e0e0e0;
}

/* praktik */
.praktik .tile:nth-child(1){
  grid-column:  1/3;
  grid-row: 1;
  margin-top: 50px;
}

.praktik .tile:nth-child(2){
  grid-column: 3/7;
}

.praktik .tile:nth-child(3){
  grid-column: span 6;
    grid-row: 2;
}

.praktik .tile:nth-child(n+4){
  grid-column: span 2;

}

/*
.praktik .tile:nth-child(4){
  grid-column: 1/5;
    grid-row: ;
}

.praktik .tile:nth-child(5){
  grid-column: 5/7;
    grid-row: ;
} */

/* .praktik .tile:nth-child(6){
  grid-column: 1/3;
    grid-row: ;
}

.praktik .tile:nth-child(7){
  grid-column: 3/7;
    grid-row: ;
} */

/* .praktik .tile:nth-child(n+9){
  grid-column: span 2;
    grid-row: ;
    margin-top: 40px;
} */





.praktik {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.praktik img, .praktik video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* proguitar */
.proguitar .tile:nth-child(1){
  grid-column:  1/4;
  grid-row: 1;
  margin-top: 20px;
}

.proguitar .tile:nth-child(2){
  grid-column: span 3;
  grid-row: 1;

}

.proguitar .tile:nth-child(n+3){
  grid-column: span 2;


}

/*

.proguitar .tile:nth-child(n+5){
  grid-column: span 2;
    grid-row: 3;
}

.proguitar .tile:nth-child(n+8){
  grid-column: span 2;
    grid-row: 4;
} */

.proguitar {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.proguitar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}









/* bmth */

.bmth .tile:nth-child(1){
  grid-column:  5/7;
  grid-row: 1;
  margin-top: 0px;
}

.bmth .tile:nth-child(2){
  grid-column: 1/5;
}

.bmth .tile:nth-child(3){
  grid-column: span 3;
}

.bmth .tile:nth-child(4){
  grid-column: span 3;
}

.bmth .tile:nth-child(5){
  grid-column: span 6;
}

.bmth {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.bmth img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* tngd47 */


.tngd47 .tile:nth-child(1){
  grid-column: 1/4;
  grid-row: 1;
  margin-top: 70px;
  margin-bottom: 90px;
}


.tngd47 .tile:nth-child(2){
  grid-column: 1/4;
  grid-row: 2;
}

.tngd47 .tile:nth-child(3){
  grid-column: 4/7;
  grid-row: 2;
}

.tngd47 .tile:nth-child(4){
  grid-column: span 6;
}

.tngd47 {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.tngd47 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* rmit */

.rmit .tile:nth-child(1){
  grid-column:  1/3;
  grid-row: 1;
  margin-top: 150px;
}

.rmit .tile:nth-child(2){
  grid-column: span 4;
}

.rmit .tile:nth-child(3){
  grid-column: span 4;
}



.rmit .tile:nth-child(4){
  grid-column: span 2;
}

.rmit .tile:nth-child(5){
  grid-column: span 6;
}

.rmit {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.rmit img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* grap */


.grap .tile:nth-child(1){
  grid-column:  1/4;
  grid-row: 1;
  margin-top: 50px;
}

.grap .tile:nth-child(2){
  grid-column: span 3;
  margin-top: 100px;
}

.grap .tile:nth-child(3){
  grid-column: span 2;

}



.grap .tile:nth-child(4){
  grid-column: span 2;
}

.grap .tile:nth-child(5){
  grid-column: span 2;
}

.grap .tile:nth-child(n+6){
  grid-column: span 3;
}

.grap .tile:nth-child(10){
  grid-column: span 6;
}

.grap .tile:nth-child(11){
  grid-column: span 6;
}


.grap .tile:nth-child(12){
  grid-column: span 3;
}

#rationale-mobile-sot {
display: none;
}

.grap {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.grap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* quick briefs */

.grap-2 .tile:nth-child(1){
  grid-column:  span 3;
  grid-row: 1;
  margin-top: 100px;
  margin-bottom: 100px;
}

.grap-2 .tile:nth-child(2){
  grid-column: span 6;


  /* margin-top: 100px; */
}


.grap-2 .tile:nth-child(n+3){
  grid-column: span 3;
  /* margin-top: 100px; */
}

.grap-2 .tile:nth-child(5){
  grid-column: span 6;

  /* margin-top: 100px; */
}


.grap-2 .tile:nth-child(n+6){
  grid-column: span 3;
  /* margin-top: 100px; */
}

.grap-2 .tile:nth-child(8){
  grid-column: span 6;

  /* margin-top: 100px; */
}


.grap-2 .tile:nth-child(n+9){
  grid-column: span 3;
  /* margin-top: 100px; */
}

.grap-2 .tile:nth-child(11){
  grid-column: span 6;

  /* margin-top: 100px; */
}


/*
.grap-2 .tile:nth-child(3){
  grid-column: span 2;

}



.grap-2 .tile:nth-child(4){
  grid-column: span 2;
}

.grap-2 .tile:nth-child(5){
  grid-column: span 2;
}

.grap-2 .tile:nth-child(n+6){
  grid-column: span 3;
}

.grap-2 .tile:nth-child(10){
  grid-column: span 6;
}


.grap-2 .tile:nth-child(11){
  grid-column: span 3;
} */



.grap-2 {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.grap-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.qb, .glaspole-h2 {
  /* text-transform: uppercase; */
  font-size: 3em;
  margin-left: 2.5rem;
  margin-top:2rem;
  margin-bottom: -20px;
}

/* branding */

.branding .tile:nth-child(1){
  grid-column:  1/4;
  grid-row: 1;
  margin-top: 30px;
}

.branding .tile:nth-child(2){
  grid-column: span 6;
  grid-row: 2;
  margin-top: 100px;
}

.branding .tile:nth-child(3){
  grid-column: span 6;
  grid-row: 3;

}

.branding .tile:nth-child(4){
  grid-column: span 6;
  grid-row: 4;

}

.branding .tile:nth-child(5){
  grid-column: span 6;
  grid-row: 5;

}





.branding {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.branding img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



/*COMM2220*/
.comm2220 {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.comm2220 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comm2220 .tile:nth-child(1){
  grid-column:  1/3;
  grid-row: 1;
  margin-top: 50px;
}

.comm2220 .tile:nth-child(2){
  grid-column: 3/7;
  grid-row: 1;

}

.comm2220 .tile:nth-child(3){
  grid-column: 1/4;
  grid-row: 3;

}

.comm2220 .tile:nth-child(4){
  grid-column: 1/4;
  grid-row: 4;

}

.comm2220 .tile:nth-child(5){
  grid-column: 4/7;
  grid-row: 3/5;
}

.comm2220 .tile:nth-child(6){
  grid-column: span 6;
  grid-row: 5;
}

.comm2220 .tile:nth-child(7){
  grid-column: 1/4;
  grid-row: 6;
}

.comm2220 .tile:nth-child(8){
  grid-column: 4/7;
  grid-row: 6;
}

.comm2220 .tile:nth-child(9){
  grid-column: 1/3;
  grid-row: 7;
}

.comm2220 .tile:nth-child(10){
  grid-column: 3/5;
  grid-row: 7;
}


.comm2220 .tile:nth-child(11){
  grid-column: 5/7;
  grid-row: 7;
}

.comm2220 .tile:nth-child(n+12){
  grid-column: span 3;
  grid-row: 8;
}











iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 50vh;        /* Viewport-relative units */
    width: 50vw;
    max-width: 1366px;
    margin-left: 0;
    /* margin-top: 50px;
    margin-bottom: 30px; */
}



/* kontakt */
.kontakt {
  grid-column: 2;
  justify-self: center;
  margin-top: 30px;
  width: auto;
  margin-bottom: 40px;
}

#wrapper-kontakt {
  grid-area: main;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: auto;
  grid-gap: 1rem;
}

.kontakt p {
    max-width: 500px;
}

.kontakt h2 {
  margin-bottom: -5px;
}

#socmed {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

#socmed img {
  width: 40px;
  padding: 20px;
}

input {
  width: 100%;
  box-shadow: 2px 2px 2px grey;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

form {
  grid-area: main;
}

label {
  display: block;
}

textarea {
  width: 99%;
  height: 160px;
  font-family: "Lato";
  padding: 5px;
  box-shadow: 2px 2px 2px grey;
}

label + label {
  margin-top: 20px;
}

.contact-title {
  display: block;
}

#wrapper-kontakt button {
  font-family: roc-grotesk, "Lato", sans-serif;
  background-color: #f0ba1c;
  transition: background .3s;
  width: 100px;
  margin-top: 25px;
  /* box-shadow: 2px 2px 2px grey; */
  display: block;
  margin: 1.5em 0;
  font-size: 1em; line-height: 2.3em;
  color: #333;
  font-weight: bold;
  height: 2.5em;
  /* background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%); */
    border: none;
}

#wrapper-kontakt button:hover {
  background: #c6910c;
/* background-image: linear-gradient(to right bottom, #e9b0b5, #dca6ab, #cf9da1, #c29397, #b58a8d); */
}
