/* old pink: #e9b0b5
new pink: #B58A8D */

body {
  width: 100%;
  max-width: 1366px;
  margin: auto;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  min-height: 100vh;
  position: relative;

}

main {
  margin-right: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px auto minmax(400px, 1fr) auto auto;
  grid-template-areas:
  "header header header"
  ". . ."
  "main main main"
  ". . ."
  "footer footer footer";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding-bottom: 80px; /*same as footer height*/
}

.up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  background-color: #B58A8D;
  font-family: "lato", sans-serif;
  width: auto;
  padding: 10px;
  /* height: 40px; */
  display: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 8px grey;
  text-decoration: none;
}

.up:hover, .up:focus {
  background-color: #9C7679;
}

.up:active {
  background-color: #9C7679;
  box-shadow: 2px 2px 4px grey;
}

.upShow {
  display: unset;
}

header {
  grid-area: header;
  justify-self: flex-end;
  align-self: center;
  margin-top: 48px;
  z-index: 500;
  margin-right: 20px;
  text-decoration: none;
  font-size: 40px;
  color: inherit;
  font-family: mina,serif;
  font-weight: 400;
  transition-property: color;
  transition-duration: .4s;
}

header {
  text-decoration: none;
  font-size: 40px;
  color: inherit;
  font-family: mina,serif;
  font-weight: 400;
  transition-property: color;
  transition-duration: .4s;
}

h2 {
  font-family: 'Lato', sans-serif;
}

/* menu */
nav {
  grid-area: header;
  align-self: center;
  z-index: 1000;
  margin-top: 80px;
}

.button {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 0;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  margin:0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  font-size: .8em;
  padding-right: 20px;
  align-self: center;
  transition: color .2s;
}

ul li a:hover, ul li a:focus {
  color: #B58A8D;
}

footer {
  grid-area: footer;
  justify-self: center;
  position: absolute;
  bottom: 0;
  height: 80px;
  margin: auto;
  display: block;
  text-align: center;
  width: 100%;
}

.background {
  background-image: url("../images/bg-paint3.png");
  background-size: cover;
  background-repeat: no-repeat;
}



/* start */
.start .tile:nth-child(1){
  grid-column: span 3;
  grid-row: span 1;
}

.start .tile:nth-child(2){
  grid-column: span 3;
}

.start .tile:nth-child(3){
  grid-column: span 2;
}

.start .tile:nth-child(4){
  grid-column: span 2;
}

.start .tile:nth-child(5){
  grid-column: span 2;
}

.start .tile:nth-child(6){
  grid-column: span 3;
}

.start .tile:nth-child(7){
  grid-column: span 3;
}

.start .tile:nth-child(8){
  grid-column: span 3;
}

.start .tile:nth-child(9){
  grid-column: span 3;
}

.start .tile:nth-child(10){
  grid-column: span 2;
}

.start .tile:nth-child(11){
  grid-column: span 3;
}


.start {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.start img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* about */
.about .tile:nth-child(1){
  grid-column: 2 / span 2 ;
}

.about .tile:nth-child(2){
  grid-column: 4/ span 2;
  background-color: rgba(255, 255, 255, 1);
}

.about {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* projects */
#websites {
  grid-area: main;
  justify-self: flex-start;
  margin-top: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr  1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.object {
  position: relative;
  width: 100%;
  text-align: center;
}

.text {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: "Lato";
  color: black;
  padding: 8px 12px;
  background: white;
  white-space: nowrap;
  font-size: 1.5em;
  font-family: 'Bebas Neue', cursive;
  transition: opacity .2s;
}

.sub {
  font-size: .8em;
  display: none;
}

#websites .object:hover .text {
  opacity: 0;
}

#websites img {
  max-width: 100%;
  transition: filter .3s;
  display: block;
    filter:blur(3px);
}

#websites .object:hover img, #websites .object:focus img {
  filter:unset;
}

figcaption {
  font-family: "Lato";
  text-transform: lowercase;
  font-style: italic;
}

figcaption a, .about a {
  text-decoration: none;
  color: #B58A8D;
  transition: color .2s;
}

figcaption a:hover, figcaption a:focus, .about a:hover, .about a:focus {
  color: #e9b0b5;
}
/* eskilstuna stadslopp */
.es {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.es img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.es .tile:nth-child(1){
  grid-column: span 2;
  grid-row: span 1;
}

.es .tile:nth-child(2){
  grid-column: span 4;
}

.es .tile:nth-child(3){
  grid-column: span 6;
}

.es .tile:nth-child(4){
  grid-column: span 3;
}

.es .tile:nth-child(5){
  grid-column: span 3;
}

.es .tile:nth-child(6){
  grid-column: span 6;
}

.es .tile:nth-child(7){
  grid-column: span 6;

}

/* green bean */
.gb .tile:nth-child(1){
  grid-column: span 3;
  grid-row: span 1;

}

.gb .tile:nth-child(2){
  grid-column: span 3;
}

.gb .tile:nth-child(3){
  grid-column: span 3;
}

.gb .tile:nth-child(4){
  grid-column: span 3;
}

.gb .tile:nth-child(5){
  grid-column: span 2;
}

.gb .tile:nth-child(6){
  grid-column: span 2;
}

.gb {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.gb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* quarantine times */
.qt .tile:nth-child(1){
  grid-column: span 4;
  grid-row: span 2;
}

.qt .tile:nth-child(2){
  grid-column: span 2;
}

.qt .tile:nth-child(3){
  grid-column: span 2;
}

.qt .tile:nth-child(4){
  grid-column: span 3;
}

.qt .tile:nth-child(5){
  grid-column: span 3;
}

.qt .tile:nth-child(6){
  grid-column: span 6;
}

.qt {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.qt img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* bmth */
.bmth .tile:nth-child(1){
  grid-column: span 6;
}

.bmth .tile:nth-child(2){
  grid-column: span 3;
}

.bmth .tile:nth-child(3){
  grid-column: span 3;
}

.bmth .tile:nth-child(4){
  grid-column: span 3;
}

.bmth {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.bmth img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* tngd47 */
.tngd47 {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.tngd47 .tile:nth-child(1){
  grid-column: span 3;
}

.tngd47 .tile:nth-child(2){
  grid-column: span 3;
}

.tngd47 .tile:nth-child(3){
  grid-column: span 6;
}

.tngd47 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 50vh;        /* Viewport-relative units */
    width: 50vw;
    max-width: 1366px;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 3
    0px;
}



/* kontakt */
.kontakt {
  grid-column: 2;
  justify-self: center;
  margin-top: 30px;
  width: auto;
  margin-bottom: 40px;
}

#wrapper-kontakt {
  grid-area: main;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: auto;
  grid-gap: 1rem;
}

.kontakt p {
    max-width: 500px;
}

.kontakt h2 {
  margin-bottom: -5px;
}

#socmed {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

#socmed img {
  width: 40px;
  padding: 20px;
}

input {
  width: 100%;
  box-shadow: 2px 2px 2px grey;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

form {
  grid-area: main;
}

label {
  display: block;
}

textarea {
  width: 99%;
  height: 100px;
  font-family: "Lato";
  padding: 5px;
  box-shadow: 2px 2px 2px grey;
}

label + label {
  margin-top: 20px;
}

.contact-title {
  display: block;
}

#wrapper-kontakt button {
  font-family: "Lato", sans-serif;
  background-color: white;
  transition: background .3s;
  width: 100px;
  margin-top: 25px;
  box-shadow: 2px 2px 2px grey;
  display: block;
  margin: 1.5em 0;
  font-size: 1em; line-height: 2.5em;
  color: #333;
  font-weight: bold;
  height: 2.5em;
  background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
  border: 1px solid #bbb;
}

#wrapper-kontakt button:hover {
background-image: linear-gradient(to right bottom, #e9b0b5, #dca6ab, #cf9da1, #c29397, #b58a8d);
}
