
body {
  width: 100%;
  max-width: 1366px;
  /* min-width: 630px; */
  margin: auto;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

}


main {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(3000px, 1fr) auto;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "main main main"
  "footer footer footer";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}




header {
  grid-area: header;
  font-size: 40px;
  justify-self: flex-end;
  align-self: center;
margin-top: 50px;
  font-family: mina,serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  transition-property: letter-spacing, color;
  transition-duration: .4s, .4s;
  z-index: 500;
  margin-right: 20px;
}



/* logga */
header:hover {
  /* letter-spacing: 40px; */
  color: #e9b0b5;

}

header h1 {

}


h2 {
  font-family: 'Lato', sans-serif;

}

/* menu */
nav {
grid-area: nav;
margin:0;
padding: 0;
/* background-color: #e9b0b5; */
align-self: flex-start;
/* height: 70%; */
z-index: 100;
position: fixed;
margin-top: 5px;
right: 5px;


}

ul {
  list-style-type: none;
  display: flex;

  margin-top: 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;

  margin:0;
  padding: 0;
  margin-left: 20px;

}

ul li a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  font-size: .8em;
  /* margin-right: 20px;
  padding: 10px; */
  /* padding: 0px 20px;
  display: block; */
  padding-right: 30px;
  align-self: center;


}


img {
  display: none;
}


@media (max-width: 660px) {
body {background-color: red;}
header {font-size: 25px; margin-top: 20px;}
}

@media (max-width: 390px) {
  ul { margin-left: 0; padding: 0;}
  nav {margin:0; padding: 0;}
  nav ul li a {padding: 5px;}
  header {display: none;}
}

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    ul { margin-left: 0; padding: 0;}
    nav {margin:0; padding: 0;}
    nav ul li a {padding: 5px;}
    header {display: none;}
}
